name: Build CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Install
      run: yarn install --frozen-lockfile

    - name: Build
      run: yarn build

    - name: Copy index.html to 404.html
      run: cp dist/index.html dist/404.html

    - name: Deploy to GH Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
        cname: mf.littlechin.tw
